<%= render 'season_teams/tabs/header', tournament_data: @tournament_data %>

<div data-controller="tab-redirect" data-tab-redirect-target-tab-value="#regulations">
  <%= render 'season_teams/tabs/nav_tabs' %>

  <div class="tab-content tabcontent-border">
    <%= render 'season_teams/tabs/season_team_tab', tournament_data: @tournament_data %>
    <%= render 'season_teams/tabs/regulations_tab', season_team: @season_team %>
    <%= render 'season_teams/tabs/rivals_tab', season_team: @season_team, tournament_data: @tournament_data %>
    <%= render 'season_teams/tabs/matches_tab', season_team: @season_team, tournament_data: @tournament_data %>
  </div>
</div>

<div class="d-flex justify-content-between mt-4">
  <%= link_to "â† Volver a Datos de Torneo", public_actives_season_teams_path, class: "btn btn-outline-secondary" %>
</div>