<%= form_with(model: publication) do |f| %>
  <% if publication.errors.any? %>
    <div class="alert alert-danger">
      <%= publication.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :visibility %>
    <%= f.select :visibility, Publication.visibilities.keys, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: true, class: "form-control" %>
  </div>

  <div class="form-check mb-3">
    <%= f.check_box :pinned, class: "form-check-input" %>
    <%= f.label :pinned, class: "form-check-label" %>
  </div>

  <div class="form-group">
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :expires_at %>
    <%= f.datetime_select :expires_at, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary mt-2" %>
<% end %>
