<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3">Players</h1>
    <%= link_to 'Nuevo Refuerzo', new_external_player_path, class: 'btn btn-primary' %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th>Player ID</th>
          <th>Full Name</th>
          <th>Date of Birth</th>
          <th>Document Number</th>
          <th>Gender</th>
          <th>Position</th>
          <th>Dorsal</th>
          <th>Origen</th>
          <th>Ultimo Torneo</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><strong><%= player.id %></strong></td>
            <td><strong><%= player.full_name %></strong></td>
            <td><%= player.date_of_birth %></td>
            <td><%= player.document_number %></td>
            <td><%= player.gender %></td>
            <td><%= player.position %></td>
            <td><%= player.jersey_number %></td>
            <td><%= player.notes %></td>
            <td><%= player.last_tournament %></td>
            <td>
              <div class="btn-group" role="group">
                <%= link_to 'Editar', edit_external_player_path(player), class: 'btn btn-secondary' %>
              </div>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>