<!-- Botón para mostrar el formulario -->
<div class="mt-3">
  <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('external-player-form-wrapper').style.display = 'block'; this.style.display = 'none';">
    + Agregar Nuevo Refuerzo
  </button>
</div>

<hr class="my-4">


<!-- Formulario para agregar nuevo jugador externo -->
<div id="external-player-form-wrapper" style="display: none;">
  <form id="external-player-form"
        data-controller="external-player"
        data-external-player-target="form"
        action="<%= external_players_path %>"
        method="post"
        data-turbo="false">
    <div class="card p-3 border border-primary-subtle">
      <div class="row g-2">
        <div class="col-md-3">
          <%= label_tag "new_external_player[first_name]", "Nombre" %>
          <%= text_field_tag "new_external_player[first_name]", "", class: "form-control", required: true %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[last_name]", "Apellido" %>
          <%= text_field_tag "new_external_player[last_name]", "", class: "form-control", required: true %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[position]", "Posición" %>
          <%= select_tag "new_external_player[position]", options_for_select(["portero", "defensa", "medio", "delantero"]), include_blank: true, class: "form-select", required: true %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[jersey_number]", "N° Camiseta" %>
          <%= number_field_tag "new_external_player[jersey_number]", "", class: "form-control", min: 1, max: 99, required: true %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[document_number]", "N° Documento" %>
          <%= text_field_tag "new_external_player[document_number]", "", class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[date_of_birth]", "Fecha de Nacimiento" %>
          <%= date_field_tag "new_external_player[date_of_birth]", "", class: "form-control", required: true %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[gender]", "Género" %>
          <%= select_tag "new_external_player[gender]", options_for_select(["hombre", "mujer"]), include_blank: true, class: "form-select", required: true %>
        </div>
        <div class="col-md-3">
          <%= label_tag "new_external_player[notes]", "Notas" %>
          <%= text_field_tag "new_external_player[notes]", "", class: "form-control" %>
        </div>
      </div>

      <div class="mt-3">
        <button type="submit"
                class="btn btn-success"
                data-action="external-player#submit"
                form="external-player-form">
          Guardar y Añadir
        </button>
      </div>
    </div>
  </form>
</div>