<h1>Matches for <%= @category.name %></h1>
<%= link_to "➕ New Match", new_match_path(category_id: @category.id), class: "btn btn-success mb-3" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Opponent</th>
      <th>Location</th>
      <th>Scheduled At</th>
      <th>Type</th>
      <th>CallUps</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.opponent_name %></td>
        <td><%= match.location %></td>
        <td><%= l(match.scheduled_at, format: :short) %></td>
        <td><%= match.match_type.titleize %></td>
        <td><%= match.call_ups.map(&:name).join(", ") %></td>
        <td>
          <%= link_to "View", match_path(match), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to "Report", match_match_reports_path(match), class: "btn btn-sm btn-info" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>