<main class="hold-transition light-skin sidebar-mini theme-primary fixed">
  <div class="wrapper">
    <div id="loader"></div>

    <header class="main-header">
      <%= render 'shared/dashboard/main_header' %>
    </header>

    <aside class="main-sidebar">
      <%= render 'shared/dashboard/main_sidebar' %>
    </aside>

    <div class="content-wrapper">
      <%= render 'shared/dashboard/index' %>
    </div>

    <footer class="main-footer">
      <%= render 'shared/dashboard/main_footer' %>
    </footer>

    <aside class="control-sidebar">
      <%= render 'shared/dashboard/control_sidebar' %>
    </aside>
  </div>
</main>  
