<%= form_with(model: call_up, local: true) do |form| %>
  <% if call_up.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(call_up.errors.count, "error") %> prevented this CallUp from being saved:</h2>
      <ul>
        <% call_up.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :call_up_date %>
    <%= form.date_select :call_up_date, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :match_id, "Associated Match (optional)" %>
    <%= form.collection_select :match_id, Match.all, :id, :opponent_name, include_blank: true, class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.all, :id, :name, include_blank: false, class: "form-select", prompt: "Select a Category" %>
  </div>
  <% if @call_up.category.present? %>
    <h4>Players from "<%= @call_up.category.name %>"</h4>
    <div class="row">
      <% @call_up.category.players.each do |player| %>
        <div class="col-md-4 mb-2">
          <%= check_box_tag "call_up[player_ids][]", player.id, call_up.players.include?(player), id: "player_#{player.id}" %>
          <%= label_tag "player_#{player.id}", player.full_name %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="text-end">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>