<turbo-frame id="performance_frame_<%= @match.id %>">
  <%= form_with model: match, url: match_path(@match), method: :patch, data: { turbo_frame: "_self" } do |f| %>
    <div class="card shadow-lg border-0 rounded-3 mb-4">
      <div class="card-header bg-success-light text-muted rounded-top">
        <h4 class="mb-0 fw-bold">Actualizar Marcador del Partido | <small class="text-muted">Partido ID: <%= @match.id %></small></h4>
      </div>
      <div class="card-body p-4">
        <div class="row align-items-center mb-3">
          <div class="col-12 text-center mb-3">
            
          </div>
          <% if match.plays_as == "home" %>
            <%= team_score_input_block(f, team: match.team_of_interest, fallback_name: ActsAsTenant.current_tenant.name, score_attr: :team_score, label_text: "Goles Anotados:", match: match) %>
            <%= team_score_input_block(f, team: match.rival, score_attr: :rival_score, label_text: "Goles Anotados:", match: match) %>
          <% else %>
            <%= team_score_input_block(f, team: match.rival, score_attr: :rival_score, label_text: "Goles Anotados:", match: match) %>
            <%= team_score_input_block(f, team: match.team_of_interest, fallback_name: ActsAsTenant.current_tenant.name, score_attr: :team_score, label_text: "Goles Anotados:", match: match) %>
          <% end %>
        </div>
      </div>
      <div class="card-footer bg-light border-0 p-3 d-flex justify-content-end gap-2">
        <%= f.hidden_field :status, value: :played %>
        <%= f.submit "Guardar Marcador", class: "btn btn-primary btn-lg px-4" %>
        <button
        type="button"
        class="btn btn-outline-secondary btn-lg px-4"
        data-action="click->frame-closer#close">Cancelar</button>
      </div>
    </div>
  <% end %>
</turbo-frame>