<td class="<%= td_class %>"> <turbo-frame id="<%= frame_id %>">
    <div data-controller="performance-counter" class="d-flex flex-column align-items-center" data-match-id="<%= @match.id %>" data-plays-as="<%= @match.plays_as %>">
      <div class="d-flex align-items-center gap-2">
        <button type="button" class="btn btn-circle btn-danger-light" style="width:2rem;height:2rem;font-size:1.5rem;" data-action="performance-counter#decrement">-</button>
        <span data-performance-counter-target="value" class="display-5 fw-bold text-muted mx-3" style="min-width:2.5rem;text-align:center;"><%= value || 0 %></span>
        <button type="button" class="btn btn-circle btn-primary-light" style="width:2rem;height:2rem;font-size:1.5rem;" data-action="performance-counter#increment">+</button>
      </div>

      <%= pf.hidden_field field_name,  value: value || 0, data: { "performance-counter-target" => "hidden" } %>
    </div>
  </turbo-frame>
</td>