<%= form_with model: [@cup, @tournament], local: true do |form| %>
  <div class="card mb-3">
    <div class="card-body">
      <%= form.collection_select :cup_id, Cup.all, :id, :name, { prompt: "Seleccione una copa" }, class: "form-control" %>
      
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>

      <%= form.label :description, class: "mt-2" %>
      <%= form.text_area :description, class: "form-control" %>

      <%= form.label :start_date, class: "mt-2" %>
      <%= form.date_field :start_date, class: "form-control" %>

      <%= form.label :end_date, class: "mt-2" %>
      <%= form.date_field :end_date, class: "form-control" %>

      <%= form.label :status, class: "mt-2" %>
      <%= form.select :status, Tournament.statuses.keys.map { |s| [s.titleize, s] }, {}, class: "form-select" %>

      <%= form.label :public, class: "mt-2" %>
      <%= form.check_box :public %>

      <%= form.label :rules, class: "mt-2" %>
      <%= form.rich_text_area :rules %>

      <%= form.label :category_ids, "Categories", class: "mt-2" %>
      <%= form.collection_select :category_ids, ActsAsTenant.current_tenant.categories, :id, :name, { include_hidden: false, multiple: true }, class: "form-select", multiple: true %>
    </div>

    <div class="card-footer text-end">
      <%= form.submit class: "btn btn-success" %>
    </div>
    <div class="card-footer text-end">
      <%= link_to "Back", cup_tournaments_path, class: "btn btn-secondary mt-3" %>
    </div>
  </div>
<% end %>