<div class="container mt-4">
  <h1><%= action_name == "new" ? "New School" : "Edit School" %></h1>
  <%= form_with model: income do |f| %>
    <div class="mb-3">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :amount, class: "form-label" %>
      <%= f.number_field :amount, step: 0.01, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :currency, class: "form-label" %>
      <%= f.select :currency, [["USD", "USD"], ["VES", "VES"], ["CLP", "CLP"]], {}, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= f.label :income_type, class: "form-label" %>
      <%= f.select :income_type, Income.income_types.keys.map { |t| [t.humanize, t] }, {}, class: "form-select" %>
    </div>

    <div class="mb-3">
      <%= f.label :received_at, class: "form-label" %>
      <%= f.date_field :received_at, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :tag, class: "form-label" %>
      <%= f.text_field :tag, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>