<%= form_with(model: @player, local: true) do |form| %>
  <% if @player.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box-body">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :first_name, class: 'form-label' %>
          <%= form.text_field :first_name, class: 'form-control', placeholder: "Nombre" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.fields_for :player_profile do |profile_fields| %>
            <%= profile_fields.label :nickname, class: 'form-label' %>
            <%= profile_fields.text_field :nickname, class: 'form-control', placeholder: "Apodo" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :last_name, class: 'form-label' %>
          <%= form.text_field :last_name, class: 'form-control', placeholder: "Apellido" %>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <%= form.label :date_of_birth, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-birthday-cake"></i>
            </div>
            <%= form.date_field :date_of_birth, class: "form-control", data: { inputmask: "'alias': 'dd/mm/yyyy'", mask: true } %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <%= form.label :email, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="ti-email"></i>
            </div>
            <%= form.email_field :email, class: "form-control", placeholder: 'Email' %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :gender, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-venus-mars"></i>
            </div>
            <%= form.select :gender, Player.genders.keys.map { |g| [g.titleize, g] }, { include_blank: "Selecciona género" }, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :nationality, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-globe-americas"></i>
            </div>
            <%= form.select :nationality, Player.nationalities.keys.map { |g| [g.titleize, g] }, { include_blank: "Selecciona Nacionalidad" }, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <%= form.label :document_number, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </div>
            <%= form.text_field :document_number, class: "form-control", data: { inputmask: "'alias': 'dd/mm/yyyy'", mask: true } %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <%= form.label :email, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="ti-email"></i>
            </div>
            <%= form.email_field :email, class: "form-control", placeholder: 'Email' %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= form.label :dominant_side, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-hand-point-right"></i>
            </div>
            <%= form.text_field :dominant_side, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <%= form.label :position, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-id-card"></i>
            </div>
            <%= form.text_field :position, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            <%= form.label :is_active, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-globe-americas"></i>
            </div>
            <%= form.select :is_active, ['true', 'false'].map { |g| [g.titleize, g] }, { include_blank: "Estado" }, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.label :profile_picture, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-hand-point-right"></i>
            </div>
            <%= form.file_field :profile_picture, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= form.label :address, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-home"></i>
            </div>
            <%= form.textarea :address, size: '70x5', class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
            <%= form.label :notes, class: 'form-label' %>
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fas fa-book-open"></i>
            </div>
            <%= form.textarea :notes, size: '70x5', class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <button type="button" class="btn btn-warning me-1">
      <i class="ti-trash"></i> Cancel
    </button>
    <button type="submit" class="btn btn-primary">
      <i class="ti-save-alt"></i> Save
    </button>
  </div> 
<% end %>
