<section class="content">
	<div class="row">
		<div class="col-12 col-lg-5 col-xl-4"><!-- Profile Left Side -->
			<div class="box box-widget widget-user"><!-- User Basic Information Card-->
				<div class="widget-user-header bg-img bbsr-0 bber-0" style="background: url(<%=asset_path('faviconbg.png')%>) center center;" data-overlay="5">
					<h3 class="widget-user-username text-white"><%= @player.public_full_name %></h3>
					<h6 class="widget-user-desc text-white"><%= @player.public_position %></h6>
				</div>
				<div class="widget-user-image" style="position: relative; top: 30px; margin-top: -120px; z-index: 10;">
					<%= player_profile_image(@player, class: 'rounded-circle' , alt: "Foto de perfil") %>
				</div>
				<div class="box-footer"><!-- Other Info  & Social Media -->
					<div class="row"><!-- Age DominantSide Category -->
						<div class="col-sm-4">
							<div class="description-block">
								<span class="description-text">Edad</span>
								<h5 class="description-header"><%= "#{@player.age} años" %></h5>
							</div><!-- /.description-block -->
						</div><!-- /.col -->
						<div class="col-sm-4 be-1 bs-1">
							<div class="description-block">
								<span class="description-text">Pie Dominante</span>
								<h5 class="description-header"><%= @player.preferent_side %></h5>
							</div><!-- /.description-block -->
						</div><!-- /.col -->
						<div class="col-sm-4">
							<div class="description-block">
								<span class="description-text">Categoría</span>
								<h5 class="description-header"><%= @player.categories.first.name %></h5>
							</div><!-- /.description-block -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					<div class="row"><!-- Social Media Links -->
						<div class="col-12">
							<%= render partial: "player_profiles/shared/social_links", locals: { player: @player } %>
						</div>
					</div>
				</div>
			</div>
			<div class="box box-body"><!-- Player Stadistics -->
				<h6><span class="text-uppercase">Estadística de Temporada</span></h6>
				<div class="box-group">
					<div class="box overflow-hidden">
						<div class="vertical-align h-200">
						<div class="vertical-align-middle fs-30 text-center w-p100">
							<div class="text-center">
								<h1 class="countnm fs-50 m-0"><%= rand(1..50) %></h1>
								<div class="text-uppercase">Goles</div>
							</div>
						</div>
						</div>
					</div>
					<div class="box overflow-hidden bg-primary-light">
						<div class="vertical-align text-center p-30 h-200">
						<div class="vertical-align-middle fs-20">
								<h1 class="countnm fs-50 m-0"><%= rand(1..50) %></h1>
								<div class="text-uppercase">Asistencias</div>
						</div>
						</div>
					</div>
				</div>
				<div class="fs-12"><i class="ion-arrow-graph-down-right text-success me-1"></i> %18 decrease from last month</div>
			</div><!-- /.box -->
			<div class="box"><!-- Player TeamMates -->
				<div class="box-body">
					<div class="flexbox align-items-baseline mb-20">
						<h6 class="text-uppercase ls-2">Equipo</h6>
						<small>Num de Jugadores Categoria</small>
					</div>
					<div class="gap-items-2 gap-y">
						<a class="avatar" href="#">
							<%= image_tag 'vendor/1.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/3.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/4.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/5.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/6.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/7.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/8.jpg', alt: '' %>
						</a>
						<a class="avatar avatar-more" href="#">+15</a>
					</div>
				</div>
				<div class="box-footer">
					<a class="text-uppercase d-blockls-1 text-fade" href="#">Otras Categorias</a>
				</div>
			</div><!-- /.box -->
		</div><!-- /.col-12 Left Side -->

		<div class="col-12 col-lg-7 col-xl-8"><!-- Profile Right Side -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li><a class="active" href="#publicprofile" data-bs-toggle="tab">Perfil Publico</a></li>
					<li><a href="#editprofile" data-bs-toggle="tab">Editar Perfil</a></li>
				</ul>

				<div class="tab-content">
					<div class="active tab-pane" id="publicprofile">
						<%= render 'player_profiles/shared/public_profile' %>
					</div><!-- /.tab-pane publicprofile-->
					<div class="tab-pane" id="editprofile">
						<%= render 'player_profiles/shared/edit_profile' %>
					</div><!-- /.tab-pane editprofile-->
				</div><!-- /.tab-content -->
			</div><!-- /.nav-tabs-custom -->
		</div><!-- /.col-12 Right Side -->
	</div><!-- /.row -->
</section>
