<section class="content">
	<div class="row">
		<div class="col-12 col-lg-5 col-xl-4">
			<div class="box box-widget widget-user">
				<!-- Add the bg color to the header using any of the bg-* classes -->
				<div class="widget-user-header bg-img bbsr-0 bber-0" style="background: url(<%=asset_path('faviconbg.png')%>) center center;" data-overlay="5">
					<h3 class="widget-user-username text-white">Ignacio "Nacho" Olivo</h3>
					<h6 class="widget-user-desc text-white">Mediocampo</h6>
				</div>
				<div class="widget-user-image" style="position: relative; top: 30px; margin-top: -120px; z-index: 10;">
					<%= image_tag 'nacho-pic.png', class: 'rounded-circle', alt: 'User Avatar' %>
				</div>
				<div class="box-footer">
					<div class="row">
						<div class="col-sm-4">
							<div class="description-block">
								<span class="description-text">Edad</span>
								<h5 class="description-header">8 años</h5>
							</div><!-- /.description-block -->
						</div><!-- /.col -->
						<div class="col-sm-4 be-1 bs-1">
							<div class="description-block">
								<span class="description-text">Pie Dominante</span>
								<h5 class="description-header">Derecho</h5>
							</div><!-- /.description-block -->
						</div><!-- /.col -->
						<div class="col-sm-4">
							<div class="description-block">
								<span class="description-text">Categoría</span>
								<h5 class="description-header">Sub 9</h5>
							</div><!-- /.description-block -->
						</div><!-- /.col -->
					</div><!-- /.row -->
					<div class="row">
						<div class="col-12">
							<div class="pb-15 text-center">						
								<p class="mb-10">Redes Sociales</p>
								<div class="user-social-acount d-flex justify-content-center gap-3">
									<button class="btn btn-circle btn-social-icon btn-facebook">
										<i class="fa fa-facebook"></i>
									</button>
									<button class="btn btn-circle btn-social-icon btn-twitter">
										<i class="fa fa-twitter"></i>
									</button>
									<button class="btn btn-circle btn-social-icon btn-instagram">
										<i class="fa fa-instagram"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.box-footer -->
			</div><!-- /.box box-widget widget-user -->
			<div class="box box-body">
				<h6><span class="text-uppercase">Estadística de Temporada</span></h6>
				<div class="box-group">
					<div class="box overflow-hidden">
					  <div class="vertical-align h-200">
						<div class="vertical-align-middle fs-30 text-center w-p100">
							<div class="text-center">
								<h1 class="countnm fs-50 m-0">17</h1>
								<div class="text-uppercase">Goles</div>
							</div>
						</div>
					  </div>
					</div>
					<div class="box overflow-hidden bg-primary-light">
					  <div class="vertical-align text-center p-30 h-200">
						<div class="vertical-align-middle fs-20">
								<h1 class="countnm fs-50 m-0">29</h1>
								<div class="text-uppercase">Asistencias</div>
						</div>
					  </div>
					</div>
				</div>
				<div class="fs-12"><i class="ion-arrow-graph-down-right text-success me-1"></i> %18 decrease from last month</div>
			</div><!-- /.box -->
			<div class="box">
				<div class="box-body">
					<div class="flexbox align-items-baseline mb-20">
						<h6 class="text-uppercase ls-2">Friends</h6>
						<small>20</small>
					</div>
					<div class="gap-items-2 gap-y">
						<a class="avatar" href="#">
							<%= image_tag 'vendor/1.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/3.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/4.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/5.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/6.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/7.jpg', alt: '' %>
						</a>
						<a class="avatar" href="#">
							<%= image_tag 'vendor/8.jpg', alt: '' %>
						</a>
						<a class="avatar avatar-more" href="#">+15</a>
					</div>
				</div>
				<div class="box-footer">
					<a class="text-uppercase d-blockls-1 text-fade" href="#">Invite People</a>
				</div>
			</div><!-- /.box -->
		</div><!-- /.col-12 col-lg-5 col-xl-4 -->

		<div class="col-12 col-lg-7 col-xl-8">
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li><a class="active" href="#publicprofile" data-bs-toggle="tab">Perfil Publico</a></li>
					<li><a href="#private" data-bs-toggle="tab">Activity</a></li>
					<li><a href="#settings" data-bs-toggle="tab">Settings</a></li>
				</ul>

				<div class="tab-content">
					<div class="active tab-pane" id="publicprofile">
						<div class="box">
							<div class="fx-card-item">
								<div class="fx-card-avatar fx-overlay-1">
									<div class="image-crop-frame"> 
										<%= image_tag 'profile-placeholder.webp', alt:"user", class:"cropped-image" %>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">														
								<div class="box no-shadow mb-0 bg-transparent">
									<div class="box-header no-border px-0">
										<h4 class="box-title">Categoria SUB 9</h4>	
									</div>
								</div>
							</div>
							<div class="col-xl-4 col-md-6 col-12">
								<div class="box bg-secondary-light pull-up" style="background-image: url(<%= asset_path('midfielder-2.png')%>); background-position: right bottom; background-repeat: no-repeat;">
									<div class="box-body">	
										<div class="flex-grow-1">	
											<h4 class="mt-1 mb-1">MedioCampo</h4>
											<p class="text-fade mb-0 fs-12">Pocision</p>
										</div>	
									</div>					
								</div>
							</div>
							<div class="col-xl-4 col-md-6 col-12">
								<div class="box bg-Warning-light pull-up" style="background-image: url(<%= asset_path('jersey-1.png')%>); background-position: right bottom; background-repeat: no-repeat;">
									<div class="box-body">
										<div class="flex-grow-1">	
											<div class="d-flex align-items-center pe-2 justify-content-between">					
											</div>
											<h4 class="mt-1 mb-1">Dorsal</h4>
											<p class="text-fade mb-0 fs-12">Temporada 2025</p>
											<div class="jersey-number-box">
												<span class="jersey-number-text">34</span>
											</div>
										</div>	
									</div>					
								</div>
							</div>
							<div class="col-xl-4 col-md-6 col-12">
								<div class="box bg-secondary-light pull-up" style="background-image: url(<%= asset_path('coach-1.png')%>); background-position: right bottom; background-repeat: no-repeat;">
									<div class="box-body">	
										<div class="flex-grow-1">	
											<h4 class="mt-1 mb-1">Luis Franco</h4>
											<p class="text-fade mb-0 fs-12">Entrenador</p>
										</div>	
									</div>					
								</div>
							</div>
						</div>
					</div><!-- /.tab-pane publicprofile-->
					<div class="tab-pane" id="private">			
						<div class="box no-shadow">
							<div class="post"><!-- Post -->
								<div class="user-block">
									<%= image_tag 'vendor/user1-128x128.jpg', class:"img-bordered-sm rounded-circle", alt: "user image" %>
									<span class="username">
										<a href="#">Brayden</a>
										<a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
									</span>
									<span class="description">5 minutes ago</span>
								</div><!-- /.user-block -->
								<div class="activitytimeline">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
								</p>
								<ul class="list-inline">
									<li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
									<li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
									<li class="pull-right">
										<a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a>
									</li>
								</ul>
								<form class="form-element">
									<input class="form-control input-sm" type="text" placeholder="Type a comment">
								</form>
								</div>
							</div><!-- /.post -->
							<div class="post"><!-- Post -->
								<div class="user-block">
									<%= image_tag 'vendor/user6-128x128.jpg', class: 'img-bordered-sm rounded-circle', alt: 'user image' %>
									<span class="username">
										<a href="#">Photos</a>
										<a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
									</span>
									<span class="description">5 minutes ago</span>
								</div><!-- /.user-block -->
								<div class="activitytimeline">
									<div class="row mb-20">
										<div class="col-sm-6">
											<%= image_tag 'vendor/photo1.png', class: 'img-fluid', alt: 'Photo' %>
										</div><!-- /.col -->
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-6">
													<%= image_tag 'vendor/photo2.png', class: 'img-fluid', alt: 'Photo' %>
													<br><br>
													<%= image_tag 'vendor/photo3.jpg', class: 'img-fluid', alt: 'Photo' %>
												</div><!-- /.col -->
												<div class="col-sm-6">
													<%= image_tag 'vendor/photo4.jpg', class: 'img-fluid', alt: 'Photo' %>
													<br><br>
													<%= image_tag 'vendor/photo1.png', class: 'img-fluid', alt: 'Photo' %>
												</div><!-- /.col -->
											</div><!-- /.row -->
										</div><!-- /.col -->
									</div><!-- /.row -->
									<ul class="list-inline">
										<li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>
										<li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
										<li class="pull-right">
											<a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments(5)</a>
										</li>
									</ul>
									<form class="form-element">
										<input class="form-control input-sm" type="text" placeholder="Type a comment">
									</form>
								</div>
							</div><!-- /.post -->
							<div class="post clearfix"><!-- Post -->
								<div class="user-block">
									<%= image_tag 'vendor/user7-128x128.jpg', class:'img-bordered-sm rounded-circle', alt: 'user image' %>
									<span class="username">
										<a href="#">Nicholas</a>
										<a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>
									</span>
									<span class="description">5 minutes ago</span>
								</div><!-- /.user-block -->
								<div class="activitytimeline">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
									</p>
									<form class="form-horizontal form-element">
										<div class="form-group row g-0">
											<div class="col-sm-9">
												<input class="form-control input-sm" placeholder="Response">
											</div>
											<div class="col-sm-3">
												<button type="submit" class="btn btn-danger pull-right w-p100">Send</button>
											</div>
										</div>
									</form>
								</div>
							</div><!-- /.post -->
						</div>
					</div><!-- /.tab-pane private-->
					<div class="tab-pane" id="settings">
						<div class="box no-shadow">		
							<form class="form-horizontal form-element col-12">
								<div class="form-group row">
								<label for="inputName" class="col-sm-2 form-label">Name</label>

								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputName" placeholder="">
								</div>
								</div>
								<div class="form-group row">
								<label for="inputEmail" class="col-sm-2 form-label">Email</label>

								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail" placeholder="">
								</div>
								</div>
								<div class="form-group row">
								<label for="inputPhone" class="col-sm-2 form-label">Phone</label>

								<div class="col-sm-10">
									<input type="tel" class="form-control" id="inputPhone" placeholder="">
								</div>
								</div>
								<div class="form-group row">
								<label for="inputExperience" class="col-sm-2 form-label">Experience</label>

								<div class="col-sm-10">
									<textarea class="form-control" id="inputExperience" placeholder=""></textarea>
								</div>
								</div>
								<div class="form-group row">
								<label for="inputSkills" class="col-sm-2 form-label">Skills</label>

								<div class="col-sm-10">
									<input type="text" class="form-control" id="inputSkills" placeholder="">
								</div>
								</div>
								<div class="form-group row">
								<div class="ms-auto col-sm-10">
									<div class="checkbox">
									<input type="checkbox" id="basic_checkbox_1" checked="">
									<label for="basic_checkbox_1"> I agree to the</label>
										&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Terms and Conditions</a>
									</div>
								</div>
								</div>
								<div class="form-group row">
								<div class="ms-auto col-sm-10">
									<button type="submit" class="btn btn-success">Submit</button>
								</div>
								</div>
							</form>
						</div>			  
					</div><!-- /.tab-pane settings-->
				</div><!-- /.tab-content -->
			</div><!-- /.nav-tabs-custom -->
		</div><!-- /.col-12 col-lg-7 col-xl-8 -->
	</div><!-- /.row -->
</section>
