<!-- sidebar-->
<section class="sidebar position-relative">
  <div class="multinav">
    <div class="multinav-scroll dark-skin ps" style="height: 100%;">
      <!-- sidebar menu-->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">ACADEMIA</li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Layout-4-blocks">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Escuela</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Escritorio
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Gestión
              <% end %>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Layout-grid">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Entrenamientos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Cronogramas
              <% end %>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Layout-grid">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Alumnos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Gestión
              <% end %>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Layout-grid">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Torneos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Gestión
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Calendario
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Albitraje
              <% end %>
            </li>            
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Layout-grid">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Categorias</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active">
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Gestión
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Convocatorias
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Mi Categoria
              <% end %>
            </li>            
          </ul>
        </li>
        <li class="header">ADMINISTRACIÓN</li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Write">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Finanzas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Inscripción
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Mensualidades
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Exoneraciones
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Ingresos
              <% end %>
            </li>
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Egresos
              <% end %>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Write">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Personal</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <%= link_to tenant_dashboard_path do %>
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Nomina
              <% end %>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Chart-pie">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Tienda</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="charts_chartjs.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Ordenes</a>
            </li>
            <li>
              <a href="charts_flot.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Productos</a>
            </li>
            <li>
              <a href="charts_inline.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Inline charts </a>
            </li>
            <li>
              <a href="charts_morris.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Inventario</a>
            </li>
          </ul>
        </li>
        <li class="header">JUGADOR</li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Library">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Gestion</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="widgets_blog.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Perfil</a>
            </li>
            <li>
              <a href="widgets_chart.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Entrenamientos</a>
            </li>
            <li>
              <a href="widgets_list.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Palmarés</a>
            </li>
            <li>
              <a href="widgets_social.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Torneos</a>
            </li>
            <li>
              <a href="widgets_statistic.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Pagos</a>
            </li>
          </ul>
        </li>
        <li class="header">CONFIGURACIÓN </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Chat-locked">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Applicación</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="auth_login.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Login </a>
            </li>
            <li>
              <a href="auth_register.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Register </a>
            </li>
            <li>
              <a href="auth_lockscreen.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Lockscreen </a>
            </li>
            <li>
              <a href="auth_user_pass.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Recover password </a>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="icon-Chat-check">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <span>Miscellaneous</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="error_404.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Error 404 </a>
            </li>
            <li>
              <a href="error_500.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Error 500 </a>
            </li>
            <li>
              <a href="error_maintenance.html">
                <i class="icon-Commit">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>Maintenance </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="sidebar-footer">
  <a href="javascript:void(0)" class="link" data-bs-toggle="tooltip" title="Settings">
    <span class="icon-Settings-2"></span>
  </a>
  <a href="mailbox.html" class="link" data-bs-toggle="tooltip" title="Email">
    <span class="icon-Mail"></span>
  </a>
  <%= link_to destroy_user_session_path, method: :delete, title: "Logout", data: { bs_toggle: 'tooltip', turbo_method: :delete } do %>
    <span class="icon-Lock-overturning">
      <span class="path1"></span>
      <span class="path2"></span>
    </span>
  <% end %>
</div>